@import "./src/style/index.scss";

.statement {
    @include default-margin;
    height: 100vh;
    position: relative;

    > p {
        @include default-font;
        position: absolute;
        top: 0;
        left: 0;
        padding: 10% 15%;
    }
}
