@import "./src/style/index.scss";

body {
    .noStatement {
        @include default-font;
        text-align: center;
        line-height: 100vh;
        font-size: 32px;
    }
    @include mediumDevice() {
        .noStatement {
            font-size: 56px;
        }
    }
    @include largeDevice() {
        .noStatement {
            font-size: 76px;
        }
    }
}

.carouselItems {
    > div {
        > ul {
            li:nth-child(even) {
                background-image: $default-background;
            }

            li:nth-child(odd) {
                background-image: $even-background;
            }
        }
    }
}
