@import "./src/style/index.scss";

body {
    @include default-font;
    @include default-margin;
}
.adminPanelHeader {
    text-align: center;
}

.adminPanelForm {
    background-color: cyan;
    margin: 0 auto;
}

.adminPanelText,
.adminPanelDate,
.adminPanelButton {
    display: block;
}
