@import "./src/style/index.scss";

body {
    @include default-font;
    @include default-margin;
}
.header {
    margin: 2% 20% 2%;
    padding: 3%;
    border-bottom: $border-color solid 2px;
    text-transform: uppercase;
    text-align: center;
}

.text {
    > textarea {
        height: 100px;
        width: 200px;
    }
}

.submit {
    @include default-button;
    margin: 3% auto;

    &:hover {
        color: $button-color;
        background-color: $border-color;
    }
}
