@import "./src/style/index.scss";

body {
    @include default-font;
    @include default-margin;
}
.header {
    margin: 2% 10%;
    padding: 3% 0;
    border-bottom: $border-color solid 2px;
    text-transform: uppercase;
    text-align: right;
    font-size: 24px;
}

.form {
    > .text {
        margin: 0 10% 2%;
        display: flex;
        > span {
            @include default-span;
            flex-basis: 40%;
        }
        > textarea {
            flex-basis: 60%;
            height: 80px;
            width: 220px;
        }
    }
    > .date {
        margin: 0 10% 2%;
        display: flex;
        > span {
            @include default-span;
            flex-basis: 40%;
        }
        > input {
            flex-basis: 60%;
            width: 220px;
        }
    }

    > .submit {
        @include default-button;
        margin: 2% auto;

        &:hover {
            color: $button-color;
            background-color: $border-color;
        }
    }
}
