@mixin default-margin() {
    margin: 0;
    padding: 0;
    margin-block-start: 0;
    margin-block-end: 0;
}

@mixin default-color() {
    background-color: $dark-background;
    color: $font-color;
}

@mixin default-font() {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    text-align: center;
    letter-spacing: 1.5px;
}

@mixin default-button {
    padding: 10px;
    border: solid $border-color 2px;
    border-radius: 7%;
    text-transform: uppercase;
    color: $border-color;
    background-color: $button-color;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 2px;
    line-height: 1.5;
    text-align: justify;
    transition: 0.3s;
}

@mixin mediumDevice() {
    @media (min-width: $mediumDeviceWidth) {
        @content;
    }

    @media (orientation: portrait) and (min-width: $mediumDeviceWidth) {
        @content;
    }
}

@mixin largeDevice() {
    @media (min-width: $largeDeviceWidth) {
        @content;
    }
}
